@{
    ViewData["Title"] = "Home Page";
    ViewData["Modulo"] = "Home page";

}


<div class="card">
    <div class="card-header border-0">
        <h2 class="card-title">Seleccione la opcion a realizar</h2>
    </div>

    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">

                <a href="@Url.Action("Index","Clientes")" style="margin: 20px;">
                    <div class="nav-link col single-service padding-div services" href="@Url.Action("Clientes","Index")" style="border:1px solid gray;">
                        <div class="formatBox" style="text-align: center;">
                            <h3>Crear Cliente</h3>
                            <img src="~/assets/img/mainMenu/cliente.png" width="150px" height="150px" alt="" />
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index","Productos")" style="margin: 20px;">
                    <div class="col single-service padding-div services" data-id="2" style="border:1px solid gray;">
                        <div class="formatBox" style="text-align: center;">
                            <h3>Crear Productos</h3>
                            <img src="~/assets/img/mainMenu/productos.png" width="200px" height="150px" alt="" />
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index","Orden")" style="margin: 20px;">
                    <div class="col single-service padding-div services" data-id="3" style="border:1px solid gray;">
                        <div class="formatBox" style="text-align: center;">
                            <h3>Crear Orden</h3>
                            <img src="~/assets/img/mainMenu/orden.png" width="150px" height="150px" alt="" />
                        </div>
                    </div>
                </a>
            </div>

        </div>


    </div>

</div>


